{{>header blog="blog"}}
{{>hero}}

<!-- Blog Details Hero Begin -->
<section class="blog-details-hero set-bg" data-setbg="img/blog/details/details-hero.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>Lợi ích tuyệt vời của quả dâu tây</h2>
                    <ul>
                        <li>Nguyễn Thanh Hùng</li>
                        <li>26-01-2015 10:14 AM</li>
                        {{!-- <li>8 Comments</li> --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Tìm kiếm...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Danh mục</h4>
                        <ul>
                            <li><a href="#">Tất cả</a></li>
                            <li><a href="#">Làm đẹp (20)</a></li>
                            <li><a href="#">Thực phẩm (5)</a></li>
                            <li><a href="#">Phong cách sống (9)</a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Tun tức</h4>
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/sidebar/sr-1.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>09 loại rau củ<br /> bổ sung vitamin C</h6>
                                    <span>26-01-2015</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/sidebar/sr-2.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Cách bổ sung khoán chất<br /> nâng cao sức khỏe</h6>
                                    <span>26-01-2015</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/sidebar/sr-3.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>4 cách giảm cân hiệu quả <br />với trái cây</h6>
                                    <span>26-01-2015</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="blog__sidebar__item">
                        <h4>Bộ lọc</h4>
                        <div class="blog__sidebar__item__tags">
                            <a href="#">Tất cả</a>
                            <a href="#">Làm đẹp (20)</a>
                            <a href="#">Thực phẩm (5)</a>
                            <a href="#">Phong cách sống (9)</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <img src="img/blog/details/details-pic.jpg" alt="">
                    <p>Đốt cháy chất béo: Màu đỏ của dâu tây thể hiện chất anthocyanins có tác dụng đốt cháy chất béo.
                        Theo nghiên cứu trên động vật cho thấy, những loài động vật ăn chất béo có thêm anthocyanins
                        trong thức ăn giảm 24% trọng lượng so với các loại động vật ăn chất béo nhưng không thêm
                        anthocyanins.</p>
                    <h3>Những trái dâu tây tuy bé nhỏ nhưng chứa vô số chất dinh dưỡng và chất chống oxy hóa có ích cho
                        sức khỏe.</h3>
                    <p>Giảm viêm: Một nghiên cứu của trường Y tế công cộng Harvard đã chỉ ra rằng những người phụ nữ ăn
                        16 trái dâu tây hoặc nhiều hơn mỗi tuần có thể giảm 14% nguy cơ cơ thể có nồng độ cao chất
                        C-reactive protein (CRP) trong máu, 'thủ phạm' gây viêm nhiễm cho cơ thể.</p>
                </div>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    <img src="img/blog/details/details-author.jpg" alt="">
                                </div>
                                <div class="blog__details__author__text">
                                    <h6>Nguyễn Thanh Hùng</h6>
                                    <span>Admin</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>
                                    <li><span>Danh mục:</span> Thực phẩm</li>
                                    {{!-- <li><span>Tags:</span> All, Trending, Cooking, Healthy Food, Life Style</li>
                                    --}}
                                </ul>
                                <div class="blog__details__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->

<!-- Related Blog Section Begin -->
<section class="related-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related-blog-title">
                    <h2>Bài viết có thể bạn thích</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> 26-01-2015</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Thủ thuật nấu ăn đơn giản</a></h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi doloribus ipsam eligendi
                            aliquid tempore suscipit voluptas perspiciatis quas, non vero harum cupiditate quo placeat
                            quasi at quidem quos dolor? Reprehenderit! </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> 26-01-2015</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 cách chuẩn bị bữa sáng trong 30 phút</a></h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Sunt, aspernatur blanditiis! Voluptatem iusto rem consequuntur quisquam dolorum recusandae,
                            a
                            facilis laboriosam earum ullam nisi, ratione esse
                            dicta saepe sit. Vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> 26-01-2015</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Tham quan trang trại bò sữa Ba Vì</a></h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum eius voluptates unde
                            reiciendis nemo nulla non aliquid ut reprehenderit. Labore provident eum iure cum maiores,
                            rem ab fuga! Rerum, explicabo. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Blog Section End -->