<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> hcmus@hcmus.edu.vn</li>
              <li>Giao hàng miễn phí cho các đơn hàng trên 100K</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right align-right">
            <div class="header__top__right__auth align-right">
              {{#if user}}
              <div style="font-size: 14px;">
                <i class="fas fa-user-check"></i>
                Hello
                {{user.name}}
              </div>
              <a href="/myaccount">
                <i class="fa fa-user" style="margin-left: 10px;"></i>
                Tài Khoản</a>
              <a href="/logout">
                <i class="fas fa-sign-out-alt" style="margin-left: 10px;"></i>
                Đăng Xuất</a>
              {{else}}
              <a href="/login">
                <i class="fas fa-sign-in-alt" style="margin-left: 10px;"></i>
                Đăng nhập</a>
              <a href="/register"><i class="fa fa-user-plus" style="margin-left: 10px;"></i>
                Đăng ký</a>
              {{/if}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <a href="/"><img src="/img/logo.png" alt="" /></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu">
          <ul>

            <li class="{{#if home}}active{{/if}}"><a href="/">Trang chủ</a></li>
            <li class="{{#if shop}}active{{/if}}"><a href="/shop-grid">Mua sắm</a></li>
            <li class="{{#if page}}active{{/if}}"><a href="#">Trang</a>
              <ul class="header__menu__dropdown">
                <li><a href="/shoping-cart">Giỏ hàng</a></li>
                <li><a href="/checkout">Thanh toán</a></li>
                <li><a href="/blog-details">Bài viết chi tiết</a></li>
              </ul>
            </li>
            <li class="{{#if blog}}active{{/if}}"><a href="/blog">Bài viết</a></li>
            <li class="{{#if contact}}active{{/if}}"><a href="/contact">Liên hệ</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">

      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<!-- Header Section End -->