<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Danh mục</span>
          </div>
          <ul>
            {{#each category}}
              <li><a
                  href="/shop-grid/{{this.idCategory}}"
                >{{this.name}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="/shop-grid/search" method="GET">
              <input name="name" type="text" placeholder="Bạn muốn mua gì" style="color: black;" value="{{name}}" />
              <button type="submit" class="site-btn">Tìm kiếm</button>
            </form>
          </div>

          <div class="hero__search__cart">
            <div class="hero__search__cart__icon">
              <a href="/shoping-cart"> <i class="fas fa-shopping-cart"></i></a>
            </div>
          </div>  

          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            
            <div class="hero__search__phone__text">
              <h5>0866 724 877</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>

        

        </div>
        <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
          <div class="hero__text">
            <span>Rau củ tươi sống</span>
            <h2>Thực phẩm <br />100% tự nhiên</h2>
            <p>Giao hàng miễn phí tại nhà</p>
            <a href="/" class="primary-btn">Mua ngay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->