<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ash Store" />
    <meta name="keywords" content="store, marketplace, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AshStore | Markeplace</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css"> 

    {{! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" /> }}

  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
      <div class="humberger__menu__logo">
        <a href="#"><img src="img/logo.png" alt="" /></a>
      </div>
      <div class="humberger__menu__cart">
        <ul>
          <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
          <li><a href="#"><i class="fa fa-shopping-bag"></i>
              <span>3</span></a></li>
        </ul>
        {{!-- <div class="header__cart__price">item: <span>$150.00</span></div> --}}
      </div>
      <div class="humberger__menu__widget">
        {{!-- <div class="header__top__right__language">
          <img src="img/language.png" alt="" />
          <div>English</div>
          <span class="arrow_carrot-down"></span>
          <ul>
            <li><a href="#">Spanis</a></li>
            <li><a href="#">English</a></li>
          </ul>
        </div> --}}
        <div class="header__top__right__auth">
          <a href="#"><i class="fa fa-user"></i> Đăng nhập</a>
          <a href="#"><i class="fa fa-user-plus"></i> Đăng ký</a>
        </div>
      </div>
      <nav class="humberger__menu__nav mobile-menu">
        <ul>
          <li class="active"><a href="/">Trang chủ</a></li>
          <li><a href="/shop-grid">Mua sắm </a></li>
          <li><a href="#">Trang</a>
            <ul class="header__menu__dropdown">
              <li><a href="/shop-details">Chi tiết sản phẩm</a></li>
              <li><a href="/shoping-cart">Giỏ hàng</a></li>
              <li><a href="/checkout">Thanh toán</a></li>
              <li><a href="/blog-details">Bài viết chi tiết</a></li>
            </ul>
          </li>
          <li><a href="/blog">Bài viết</a></li>
          <li><a href="/contact">Liên hệ</a></li>
        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
      <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
      </div>
      <div class="humberger__menu__contact">
        <ul>
          <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
          <li>Giao hàng miễn phí cho các đơn hàng trên 100K</li>
        </ul>
      </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="header__top__left">
                <ul>
                  <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                  <li>Giao hàng miễn phí cho các đơn hàng trên 100K</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="header__top__right align-right">
                <div class="header__top__right__social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-pinterest-p"></i></a>
                </div>
                {{!-- <div class="header__top__right__language">
                  <img src="img/language.png" alt="" />
                  <div>English</div>
                  <span class="arrow_carrot-down"></span>
                  <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                  </ul>
                </div> --}}
                <div class="header__top__right__auth align-right">
                  <a href="#"><i class="fa fa-user" style="margin-left: 10px;"></i> Đăng nhập</a>
                  <a href="#"><i class="fa fa-user-plus" style="margin-left: 10px;"></i> Đăng ký</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a href="/"><img src="img/logo.png" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <nav class="header__menu">
              <ul>
                <li class="active"><a href="/">Trang chủ</a></li>
                <li><a href="/shop-grid">Mua sắm</a></li>
                <li><a href="#">Trang</a>
                  <ul class="header__menu__dropdown">
                    <li><a href="/shop-details">Chi tiết sản phẩm</a></li>
                    <li><a href="/shoping-cart">Giỏ hàng</a></li>
                    <li><a href="/checkout">Thanh toán</a></li>
                    <li><a href="/blog-details">Bài viết chi tiết</a></li>
                  </ul>
                </li>
                <li><a href="/blog">Bài viết</a></li>
                <li><a href="/contact">Liên hệ</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            {{!-- <div class="header__cart">
              <ul>
                <li><a href="#"><i class="fa fa-heart"></i>
                    <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i>
                    <span>3</span></a></li>
              </ul>
              <div class="header__cart__price">item: <span>$150.00</span></div>
            </div> --}}
              
          </div>
        </div>
        <div class="humberger__open" >
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    {{{body}}}

    <!-- Footer Section Begin -->
    <footer class="footer spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="footer__about">
              <div class="footer__about__logo">
                <a href="/"><img src="img/logo.png" alt="" /></a>
              </div>
              <ul>
                <li>Địa chỉ: 4 Lê Duẩn, Quận 1, TP.Hồ Chí Minh</li>
                <li>Điện thoại: +65 11.188.888</li>
                <li>Email: hello@colorlib.com</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__widget">
              <h6>Giới thiệu</h6>
              <ul>
                <li><a href="#">Về chúng tôi</a></li>
                <!-- <li><a href="#">About Our Shop</a></li> -->
                <li><a href="#">Mua sắm an toàn</a></li>
                <li><a href="#">Thông tin giao hàng</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Đường đi</a></li>
              </ul>
              <!-- <ul>
                <li><a href="#">Who We Are</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Innovation</a></li>
                <li><a href="#">Testimonials</a></li>
              </ul> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="footer__widget">
              <h6>Tham gia mua sắm với chúng tôi</h6>
              <p>Nhận thông tin sản phẩm mới nhất qua email</p>
              <form action="#">
                <input type="text" placeholder="Điền email của bản" />
                <button type="submit" class="site-btn">Đăng ký</button>
              </form>
              <div
                class="footer__widget__social"
                style="display: flex; align-items: center"
              >
                <a
                  href="#"
                  class="center"
                ><i class="fa fa-facebook"></i></a>
                <a
                  href="#"
                  class="center"
                ><i class="fa fa-instagram"></i></a>
                <a
                  href="#"
                  class="center"
                ><i class="fa fa-twitter"></i></a>
                <a
                  href="#"
                  class="center"
                ><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="footer__copyright">
              <div class="footer__copyright__text"><p
                ><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new
                    Date().getFullYear());</script>
                </p></div>
              <div class="footer__copyright__payment"><img
                  src="img/payment-item.png"
                  alt=""
                /></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

  </body>

</html>