{{>hero-home}}
<!-- Categories Section Begin -->
<section class="categories">
  <div class="container">
    <div class="row">
      <div class="categories__slider owl-carousel">
        <div class="col-lg-3">
          <div
            class="categories__item set-bg"
            data-setbg="/img/categories/cat-1.jpg"
          >
            <h5><a href="#">Trái cây</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="categories__item set-bg"
            data-setbg="/img/categories/cat-2.jpg"
          >
            <h5><a href="#">Đồ khô</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="categories__item set-bg"
            data-setbg="/img/categories/cat-3.jpg"
          >
            <h5><a href="#">Rau củ</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="categories__item set-bg"
            data-setbg="/img/categories/cat-4.jpg"
          >
            <h5><a href="#">Sữa tươi</a></h5>
          </div>
        </div>
        <div class="col-lg-3">
          <div
            class="categories__item set-bg"
            data-setbg="/img/categories/cat-5.jpg"
          >
            <h5><a href="#">Thịt</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Sản Phẩm Nổi Bật</h2>
        </div>
        <div class="featured__controls">
          <ul>
            <li class="active" data-filter="*">Tất cả</li>
            <li data-filter=".oranges">Trái cây</li>
            <li data-filter=".fresh-meat">Thịt tươi sống</li>
            <li data-filter=".vegetables">Rau củ</li>
            <li data-filter=".fastfood">Đồ ăn nhanh</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row featured__filter">
      <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            data-setbg="/img/featured/feature-1.jpg"
          >
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Thịt bò</a></h6>
            <h5>80.000đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            data-setbg="/img/featured/feature-2.jpg"
          >
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Chuối ngự</a></h6>
            <h5>30.000đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            data-setbg="/img/featured/feature-3.jpg"
          >
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Ổi</a></h6>
            <h5>20.000đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            data-setbg="/img/featured/feature-4.jpg"
          >
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Dưa hấu</a></h6>
            <h5>35.000đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            data-setbg="/img/featured/feature-5.jpg"
          >
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Nho Ninh Thuận</a></h6>
            <h5>60.00đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            data-setbg="/img/featured/feature-6.jpg"
          >
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Hamburger</a></h6>
            <h5>45.000đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            data-setbg="/img/featured/feature-7.jpg"
          >
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Xoài cát</a></h6>
            <h5>40.000đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            data-setbg="/img/featured/feature-8.jpg"
          >
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a href="#">Táo Mỹ</a></h6>
            <h5>70.000đ</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
         <a href="#"> <img src="/img/banner/banner_1.png" alt="" /> </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
         <a href="#"> <img src="/img/banner/banner_2.png" alt="" /> </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Mới nhất</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-1.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Cải xanh</h6>
                  <span>15.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-2.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Ớt chuông</h6>
                  <span>18.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-3.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Đùi gà chiên</h6>
                  <span>25.000đ</span>
                </div>
              </a>
            </div>
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-1.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Cải xanh</h6>
                  <span>15.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-2.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Ớt chuông</h6>
                  <span>18.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-3.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Đùi gà chiên</h6>
                  <span>25.000đ</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Xếp hạng cao</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-1.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Cải xanh</h6>
                  <span>15.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-2.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Ớt chuông</h6>
                  <span>18.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-3.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Đùi gà chiên</h6>
                  <span>25.000đ</span>
                </div>
              </a>
            </div>
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-1.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Cải xanh</h6>
                  <span>15.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-2.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Ớt chuông</h6>
                  <span>18.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-3.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Đùi gà chiên</h6>
                  <span>25.000đ</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="latest-product__text">
          <h4>Đánh giá</h4>
          <div class="latest-product__slider owl-carousel">
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-1.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Cải xanh</h6>
                  <span>15.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-2.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Ớt chuông</h6>
                  <span>18.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-3.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Đùi gà chiên</h6>
                  <span>25.000đ</span>
                </div>
              </a>
            </div>
            <div class="latest-prdouct__slider__item">
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-1.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Cải xanh</h6>
                  <span>15.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-2.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Ớt chuông</h6>
                  <span>18.000đ</span>
                </div>
              </a>
              <a href="#" class="latest-product__item">
                <div class="latest-product__item__pic">
                  <img src="/img/latest-product/lp-3.jpg" alt="" />
                </div>
                <div class="latest-product__item__text">
                  <h6>Đùi gà chiên</h6>
                  <span>25.000đ</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Latest Product Section End -->

<!-- Blog Section Begin -->
<section class="from-blog spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title from-blog__title">
          <h2>Bài viết</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="/img/blog/blog-1.jpg" alt="" />
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a href="#">Mẹo nấu ăn đơn giản</a></h5>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore
              magnam aliquam quaerat
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="/img/blog/blog-2.jpg" alt="" />
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a href="#">6 cách chuẩn bị bữa sáng trong 30 phút</a></h5>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore
              magnam aliquam quaerat
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="/img/blog/blog-3.jpg" alt="" />
          </div>
          <div class="blog__item__text">
            <ul>
              <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
              <li><i class="fa fa-comment-o"></i> 5</li>
            </ul>
            <h5><a href="#">Tham quan trang trại sạch ở Ba Vì</a></h5>
            <p>Sed quia non numquam modi tempora indunt ut labore et dolore
              magnam aliquam quaerat
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->